<% include partial/header %>

<h1>THIS IS SHOW FILE YEAHHHHH</h1>

<p><%= campus.name %></p>
<img src="<%= campus.image %>" alt="">

<p><%= campus.description %></p>

<% include partial/footer %>